<html>
<head>
  <title>{{ page.title }}</title>
</head>
<body>

{% comment %}
  *** set shortcut variables ***
    langs: Array of lang defs.
    defaultlangcode: Default lang code, i.e. the official language.
    defaultlangcodeavailable: If necessary internal data are available.
{% endcomment %}

{% assign langs = site.data.translation.langs %}
{% assign defaultlangcode = site.data.translation.default.langcode %}
{% if defaultlangcode == "" %}
  {% comment %} TODO: Die since a default lang is not given. {% endcomment %}
{% endif %}
{% for lang in langs %}
  {% if lang.langcode == defaultlangcode %}
    {% assign defaultlangcodeavailable = true %}
    {% break %}
  {% endif %}
{% endfor %}
{% if defaultlangcodeavailable == False %}
  {% comment %} TODO: Die since an entry for the default lang does not exist. {% endcomment %}
{% endif %}
{% assign defaultlangcodeavailable = nil %}

{% comment %} TODO: Check if these variables are sanitized. {% endcomment %}



{% comment %}
  *** set variables ***
    currlangcode: The non-empty code of the lang the visitor has chosen.
    firsturlpathpartislangcode: True iff the first URL path part is a lang code (e.g. "/doc/contributing/" has "doc" as the first url part, which is not a lang code).
    urlpathparts: An array containing the parts of the url, separated by slashes.
{% endcomment %}

{% assign urlpathparts = page.url | split: "/" %}
{% assign currlangcode = urlpathparts[1] %}
{% assign firsturlpathpartislangcode = false %}
{% for lang in langs %}
  {% if lang.langcode == currlangcode %}
    {% assign firsturlpathpartislangcode = true %}
    {% break %}
  {% endif %}
{% endfor %}
{% if firsturlpathpartislangcode == false %}
  {% assign currlangcode = defaultlangcode %}
{% endif %}



{% comment %}
  *** set variables ***
    urlpathremainder: The URL path part targeting the non-lang-prefixed resource, reconstructed by concatenating the urlpathparts with slashes inbetween and at the end. (e.g. if the original URL path is "/doc/contributing/" or "/de-DE/doc/contributing/" then both of them will result in urlpathremainder = "/doc/contributing/").
{% endcomment %}

{% assign urlpathremainder = "" %}
{% for part in urlpathparts %}
  {% if forloop.first %}
    {% comment %} The part before the first slash which is always empty and to ignore. {% endcomment %}
    {% continue %}
  {% elsif forloop.index0 == 1 %}
    {% comment %} The part after the first slash which could indicate the current foreign lang code, to be skipped. {% endcomment %}
    {% if firsturlpathpartislangcode %}
      {% continue %}
    {% endif %}
  {% endif %}
  {% comment %} A part after the optional lang code which leads to the resource, to be added. {% endcomment %}
  {% assign urlpathremainder = urlpathremainder | append: "/" | append: part %}
{% endfor %}
{% comment %} The trailing slash. {% endcomment %}
{% assign urlpathremainder = urlpathremainder | append: "/" %}



{% comment %}
  *** set variables ***
    warningmessage: Empty if the current lang is the official one. Otherwise a warning message stating possible existence of translation mistakes.
{% endcomment %}

{% assign warningmessage = "" %}
{% if currlangcode != defaultlangcode %}
  {% for lang in langs %}
    {% if lang.langcode == currlangcode %}
      {% capture warningmessage %}<b>{{ lang.warningmark | escape | default: "Caution" }}:</b> {{ lang.warningmsg | escape | default: "This page is an unverified translation. The Qubes OS Project cannot evaluate the accuracy of translations into languages that our team cannot read." }}{% endcapture %}
      {% break %}
    {% endif %}
  {% endfor %}
{% endif %}

{% comment %} TODO: Due to non-latin-alphabet langs like Arabian, Japanese etc. it might be wise to merge YAML variables "warningmark" and "warningmessage". {% endcomment %}
{% comment %} TODO: It might be wise to ensure that there are no non-allowed tags in any translation (YAML, HTML etc.). {% endcomment %}



{% comment %}
  *** set variables ***
    langswitch: The lang switch containing links to all available langs. The lang code part of the link to the official lang will be omitted. The current lang will be typed in bold. Bullets will separate all langs.
{% endcomment %}

{% assign langswitch = "" %}
{% for lang in langs %}
  {% if lang.langcode %}
    {% assign targeturl = urlpathremainder %}
    {% comment %} Add the lang code prefix if it is not the default lang. {% endcomment %}
    {% if lang.langcode != defaultlangcode %}
      {% capture targeturl %}/{{ lang.langcode }}{{ targeturl }}{% endcapture %}
    {% endif %}
    {% comment %} Surround link to current lang with bold tag (begin). {% endcomment %}
    {% if lang.langcode == currlangcode %}
      {% assign langswitch = langswitch | append: "<b>" %}
    {% endif %}
    {% capture langswitch %}{{ langswitch }}<a href="{{ targeturl }}">{{ lang.label }}</a>{% endcapture %}
    {% comment %} Surround link to current lang with bold tag (end). {% endcomment %}
    {% if lang.langcode == currlangcode %}
      {% assign langswitch = langswitch | append: "</b>" %}
    {% endif %}
    {% comment %} Add a bullet inbetween two langs. {% endcomment %}
    {% if forloop.last == false %}
      {% assign langswitch = langswitch | append: " &bull; " %}
    {% endif %}
    {% assign targeturl = nil %}
  {% endif %}
{% endfor %}



{% comment %}
  *** print langswitches, warning message and content ***
{% endcomment %}

{{ langswitch }}<br>
<br>
{% if warningmessage != "" %}
  <i>{{ warningmessage }}</i><br>
{% endif %}
{{ content }}<br>
{{ langswitch }}<br>



{% comment %}
  *** unset variables ***
{% endcomment %}

{% assign langs = nil %}
{% assign defaultlangcode = nil %}
{% assign currlangcode = nil %}
{% assign firsturlpathpartislangcode = nil %}
{% assign urlpathparts = nil %}
{% assign urlpathremainder = nil %}
{% assign warningmessage = nil %}
{% assign langswitch = nil %}
{% assign targeturl = nil %}

</body>
</html>
